@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Панель администратора
            </h1>
            <ol class="breadcrumb">
                <li class="active">Главная</li>
            </ol>
        </div>
    </div>
    
    
    <div class="row">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Подзаголовки", "Index", "Subtitles")</li>
        </ul>
    </div>

</div>


